/*  __                            __
   / /   ____ ___  ______  __  __/ /_
  / /   / __ `/ / / / __ \/ / / / __/
 / /___/ /_/ / /_/ / /_/ / /_/ / /_
/_____/\__,_/\__, /\____/\__,_/\__/
            /____/

Styles only the general site layout stuff
(dimensions, margins, paddings, positions, ...)
--------------------------------------------------------------------------------
*/

/* === HTML Body ============================================================ */
body {
margin: 0 auto;
}

/* === Header =============================================================== */
header {
color: white;
min-height: 50px;
margin-bottom: 10px;
background: #232323;
}

/* === Contents ============================================================= */
main {
height: auto !important;
}

/* === Footer =============================================================== */
footer {
width: 100%;
height: 50px;
color: white;
bottom: 0;
padding: 0 20px;
position: fixed;
margin-top: 10px;
padding-top: 10px;
background: #3F3F3f;
}

/*
   _____ __        __
  / ___// /___  __/ /__
  \__ \/ __/ / / / / _ \
 ___/ / /_/ /_/ / /  __/
/____/\__/\__, /_/\___/
         /____/

Defines general styles used by the webapp.
-------------------------------------------------------------------------------
*/

